@{
    ViewBag.Title = "CoinBull";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

@foreach (var a in ViewBag.Alerts)
{
    //id, coins, percent, minutes, isactive


<div class="job">
    <a id="@a.Item1">@a.Item3% in @a.Item4 minutes</a>

    @if (a.Item5)
    {
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox" checked id=@a.Item1 class="check1">
            <span class="slider round"></span>
        </label>
    }
    else
    {
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox" id=@a.Item1 class="check2">
            <span class="slider round"></span>
        </label>
    }
</div>
    
}

<div class="modal fade modalmods" id="errorModal">
    <div class="modal-dialog">
        <center>
            <div class="modal-content">
                <div class="modal-body message">
                    <span id="errorMessage"></span>
                </div>
            </div>
        </center>
    </div>
</div>

<script>

    $('.check1').click(function () {

        var current = this;

        var state = $(this).prop('checked');

        var id = $(this).attr('id');

        $.ajax({
            type: 'POST',
            data: {
                state: state,
                id: id
            },
            url: '/Home/UpdateAlertState',
            success: function () {
                
            },
            error: function () {

                document.getElementById("errorMessage").innerHTML = "There was an error. Please try again later.";
                $('#errorModal').modal("show");

                $(current).prop('checked', true);
                
            }
        });
    });

    $('.check2').click(function () {

        var current = this;

        var state = $(this).prop('checked');

        var id = $(this).attr('id');

        $.ajax({
            type: 'POST',
            data: {
                state: state,
                id: id
            },
            url: '/Home/UpdateAlertState',
            success: function () {

            },
            error: function () {

                document.getElementById("errorMessage").innerHTML = "There was an error. Please try again later.";
                $('#errorModal').modal("show");

                $(current).prop('checked', false);
                
            }
        });
    });

</script>