
@{
    ViewBag.Title = "Profile";
}

<center>
    <h2>Profile</h2>

    <br />

    <div style="font-size:16px;">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>

        }
        <br />
        <a href="~/Home/TermsOfService">Terms of Service</a>
        <br />
        <br />
        <a href="#" id="Copy">Contact</a>
    </div>
</center>

<div class="modal fade modalmods" id="clipboardModal" style="margin-top:50px">
    <div class="modal-dialog">
        <center>
            <div class="modal-content">
                <div class="modal-body message">
                     Contact email copied to clipboard.
                </div>
            </div>
        </center>
    </div>
</div>

<script>

    function Clipboard_CopyTo(value) {
        var tempInput = document.createElement("input");
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);

        $('#clipboardModal').modal("show");
    }

    document.querySelector('#Copy').onclick = function () {
        Clipboard_CopyTo('eric@coinbull.app');
    }

</script>
