@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
        <a href="~/Account/UserProfile" style="padding-right:5px;"><img src="~/Images/profile.png" style="max-height:32px;" /></a>
}
else
{

      <a href="~/Account/Login" class="navLogin">Log In</a>
    
}
